body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: #e8ecff;
	min-height: 100vh;
	width: 100%;
}

.container {
	max-width: 600px;
	margin: auto;
	padding: 20px;
	border: 4px solid #999;
	background: #fff;
}

.item + .item {
	margin-top: 80px;
}

